<div class="my-posts-container">
    <div class="my-posts-header">
        <div class="post-filters">
            <button class=" filter-button selected-filter">NEWEST</button>
            <button class="filter-button ">POPULAR</button>

        </div>
        <span *ngIf="posts">{{posts.length}}</span>
        <fa-icon class="add-post-icon" [icon]="faPlus"></fa-icon>
    </div>
    <div *ngIf="posts" class="posts">
        
        <div *ngFor="let post of posts;let index=index" class="post">
            <div class="post-info">
                <div class="post-timestamp">
                    {{dates[index] | date:"d-MM-y"}}
                </div>
                <div routerLink="/post/{{post.id}}" class="post-title">{{post.title | uppercase}}</div>
            </div>
            <a href="#" *ngIf="categories[index]" class="post-category">{{categories[index].name | uppercase}}</a>
            <div class="post-stats">
                <a href="#" class="post-likes">
                    <span>{{likesCounters[index]}}</span> <fa-icon [icon]="faThumbsUp"></fa-icon>
                </a>
                <a href="#" class="post-comments">
                    <span>{{commentsCounters[index]}}</span> <fa-icon [icon]="faCommentAlt"></fa-icon>
                </a>
            </div>
            <div class="post-actions">
                <button class="view-post">
                    <fa-icon [icon]="faEye"></fa-icon>
                </button>
                <button class="edit-post">
                    <fa-icon [icon]="faPen"></fa-icon>
                </button>
                <button class="delete-post">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>

            </div>
        </div>
        
    </div>
</div>
