<div class="my-posts-container">
    <div class="my-posts-header">
        <div class="post-filters">
            <button class=" filter-button" [ngClass]="{'selected-filter': filter==='newest'}" (click)="setFilter('newest')">NEWEST</button>
            <button class="filter-button " [ngClass]="{'selected-filter': filter==='popular'}" (click)="setFilter('popular')">POPULAR</button>

        </div>
        <span *ngIf="eagerPosts">{{eagerPosts.length}}</span>
        <fa-icon class="add-post-icon" [icon]="faPlus"></fa-icon>
    </div>
    <div *ngIf="eagerPosts" class="posts">
        
        <div *ngFor="let eagerPost of eagerPosts;let index=index" class="post">
            <div class="post-info">
                <div class="post-timestamp">
                    {{eagerPost.date | date:"d-MM-y"}}
                </div>
                <div routerLink="/post/{{eagerPost.post.id}}" class="post-title">{{eagerPost.post.title  | truncate:[26] | uppercase}}</div>
            </div>
            <div class="post-data">
                <div class="post-category-container">
                    <a href="#" *ngIf="eagerPost.category" class="post-category">{{eagerPost.category.name | uppercase}}</a>
                </div>
                <div class="post-stats">
                    <a href="#" class="post-likes">
                        <span>{{eagerPost.likesCount}}</span> <fa-icon [icon]="faThumbsUp"></fa-icon>
                    </a>
                    <a href="#" class="post-comments">
                        <span>{{eagerPost.commentsCount}}</span> <fa-icon [icon]="faCommentAlt"></fa-icon>
                    </a>
                </div>
                <div class="post-actions">
                    <button class="view-post">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </button>
                    <button class="edit-post">
                        <fa-icon [icon]="faPen"></fa-icon>
                    </button>
                    <button class="delete-post">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </div>

            </div>
        </div>
        
    </div>
</div>
