
<header class="header-bar {{navOpen}}">
    <div>
        <a routerLink="home"><fa-icon class="home-icon header-icon" [icon]="faHome"></fa-icon></a></div>
        <div class="search-div">
            <div class="search-bar">
                <input type="text" placeholder="Search">
                <fa-icon class="header-icon search-icon" [icon]="faSearch"></fa-icon>
            </div>
            <fa-icon class="list-icon header-icon" [icon]="faList" (click)="toggleMenu()"></fa-icon>
        </div>
        
        <nav class="header-nav" id="header-nav">

            <a class="nav-profile" routerLink="profile/1">
                <img src="https://picsum.photos/500" alt="profile icon">
                <!-- <b>HAMDANIMED</b> -->
                <b>{{this.username ? this.username:"hamdanimed" | uppercase}}</b>
            </a>
            <a href="#" class="home-mobile">
                <fa-icon class="header-icon" [icon]="faHome"></fa-icon>
                <span>Home <hr></span>
                
            </a>

            <button (click)="endSession()" class="logout-btn">
                <fa-icon class="header-icon" [icon]="faSignOut"></fa-icon>
                <span>Logout</span>
            </button>
        </nav> 
</header>