.header-icon{
    color: var(--primary-grey);
    font-size: 1.4rem;

}
.home-mobile{
    display:none;
    margin-left: 1rem;
    align-items: center;
    text-decoration: none;
    color: var(--primary-grey);
}
.home-mobile > fa-icon {
    margin-right: 0.7rem;
}
.header-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.3rem;
    background-color: white;
    padding: 0 0.9rem;
    border-radius: 0.3rem;
    box-shadow: 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}
.header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.4rem;
    gap: 0rem;
}
.search-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.search-bar > input{
    padding: 0.3rem 1rem;
    border-radius: .5rem;
    outline: none;
    border: 1px solid var(--primary-grey);
    width: 40vw;
    font-size: 0.8rem;
}
.search-icon{
    font-size: 1rem;
    position: relative;
    left:0;
    margin-left: -1.4rem;
    z-index: 999;
}
.logout-btn{
    margin-left: 1rem;
    display:flex;
    align-items: center;
    text-decoration: none;
}
.logout-btn > fa-icon {
    margin-right: 0.7rem;
}
.logout-btn > span{
    display: none;
    color: var(--primary-grey);
}

/* Profile style */
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    float:right;
    font-size: small;
    color: var(--primary-grey);
    border: solid var(--primary-grey) 2px;
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;
    text-decoration: none;
    transition-duration: 0.3s;
}
.profile:hover{
    background-color: var(--primary-grey);
    color: white;
}
.profile > img{
    border-radius: 50%;
    margin-right: 0.4rem;
    width: 1.5rem;
}
.list-icon {
    display:none;
}

@media screen and (max-width:450px) {
    .home-mobile{
        display:flex;
    }
    .header-bar{
        display: flex;
        flex-direction: column;
        padding-top: 0.4rem;
    }
    .home-icon{
        display: none;
        
    }
    .search-div{
        width: 100%;
    }
    .search-bar > input{
        width: 69vw;
    }
    .header-bar > nav {
        display:flex;
        flex-direction: column;
        justify-content: center;
        transition-duration: 0.3s;
        gap: 0.3rem;
        overflow: hidden;
        width:100%;
    }
    .header-nav > a{
        width: 50vw;
        justify-content: center;
    }
    .logout-btn > span{
        display: block;
    }
    .list-icon{
        display :block;
    }

}

