
  <div class="bar">
    <div class="sort-filter ">
      <button class="tag sort_elem " [ngClass]="{'selected-sort-elem': forYou}" (click)="toggleForYou(forYou)">FOR YOU</button>
      <button class="tag sort_elem"  [ngClass]="{'selected-sort-elem': sort==='newest'}" (click)="selectSort('newest')">NEWEST</button>
      <button class="tag sort_elem" [ngClass]="{'selected-sort-elem': sort==='popular'}" (click)="selectSort('popular')">POPULAR
        <fa-icon [icon]="faCard"></fa-icon></button>
      </div>
      <div class="icon plus-position ">
          <fa-icon class="plus" [icon]="faPlus"></fa-icon>
      </div>


    </div>



