<div class="liked-posts-container">
    <div class="liked-posts-header">
        <div class="post-filters">
            <button class=" filter-button selected-filter">NEWEST</button>
            <button class="filter-button ">POPULAR</button>

        </div>
        <span *ngIf="posts">{{posts.length}}</span>
    </div>
    <div class="posts">
        <div *ngFor="let post of posts;let index=index;" class="post">
            <div class="post-info">
                <div class="post-timestamp">
                    {{dates[index] | date:"d-MM-y"}}
                </div>
                <a routerLink="/post/{{post.id}}" class="post-title">{{post.title | uppercase}}</a>
            </div>
            <div class="post-details">
                <a href="#" *ngIf="categories[index]" class="post-category">{{categories[index].name | uppercase}}</a>
                <div class="post-stats">
                    <a href="#" class="post-likes">
                        <span>{{likesCounters[index]}}</span> <fa-icon [icon]="faThumbsUp"></fa-icon>
                    </a>
                    <a href="#" class="post-comments">
                        <span>{{commentsCounters[index]}}</span> <fa-icon [icon]="faCommentAlt"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>
