<div class="liked-posts-container">
    <div class="liked-posts-header">
        <div class="post-filters">
            <button class=" filter-button selected-filter" [ngClass]="{'selected-filter' : filter==='newest'}" (click)="setFilter('newest')">NEWEST</button>
            <button class="filter-button " [ngClass]="{'selected-filter' : filter==='popular'}" (click)="setFilter('popular')">POPULAR</button>

        </div>
        <span *ngIf="eagerPosts">{{eagerPosts.length}}</span>
    </div>
    <div class="posts">
        <div *ngFor="let eagerPost of eagerPosts;let index=index;" class="post">
            <div class="post-info">
                <div class="post-timestamp">
                    {{eagerPost.date | date:"d-MM-y HH:mm"}}
                </div>
                <a routerLink="/post/{{eagerPost.post.id}}" class="post-title">{{eagerPost.post.title | uppercase}}</a>
            </div>
            <div class="post-details">
                <a href="#" *ngIf="eagerPost.category" class="post-category">{{eagerPost.category.name | uppercase}}</a>
                <div class="post-stats">
                    <a href="#" class="post-likes">
                        <span>{{eagerPost.likesCount}}</span> <fa-icon [icon]="faThumbsUp"></fa-icon>
                    </a>
                    <a href="#" class="post-comments">
                        <span>{{eagerPost.commentsCount}}</span> <fa-icon [icon]="faCommentAlt"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>
