<div class="liked-posts-container">
    <div class="liked-posts-header">
        <div class="post-filters">
            <button class=" filter-button selected-filter">NEWEST</button>
            <button class="filter-button ">POPULAR</button>

        </div>
        <span>200</span>
    </div>
    <div class="posts">
        <div class="post">
            <div class="post-info">
                <div class="post-timestamp">
                    10-12-2023
                </div>
                <a href="#" class="post-title">HOW THE WEB WORKS Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, officia!</a>
            </div>
            <div class="post-details">
                <a href="#" class="post-category">HEALTH AND FITNESS</a>
                <div class="post-stats">
                    <a href="#" class="post-likes">
                        <span>123</span> <fa-icon [icon]="faThumbsUp"></fa-icon>
                    </a>
                    <a href="#" class="post-comments">
                        <span>300</span> <fa-icon [icon]="faCommentAlt"></fa-icon>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>
