
<!-- <div class="post-card">
  <div class="profile post-header">

    <div class="profile-img col-3">
      <img src="https://via.placeholder.com/150" alt="Profile Image">
    </div>
    <div class="profile-info col-9">
      <h4>BenaarrouchMed <span>FOLLOW</span></h4>
      <small>12:00, 12 March 2023</small>
    </div>


    <div class="green-tag">
        <span class="category">LIFE STYLE</span>
      </div>
  </div>
  <div class="post-content">
    <div class="post-title">
      <h3>Title of Post</h3>
    </div>
    <div class="post-description">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id commodi architecto minima ipsum, corporis placeat, necessitatibus consequuntur ut dolor nihil unde at? Quia numquam nostrum mollitia alias labore? Necessitatibus, cumque?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sunt optio quasi at doloremque, alias impedit ut dolorem, quaerat esse velit accusamus! Odit accusamus ab fuga eaque eveniet! Accusamus, sint!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quas doloribus ducimus eligendi harum tempora obcaecati esse iusto, possimus dicta eveniet maiores! Nam dolor repellat quibusdam eaque voluptates iure fugit.
      </p>
    </div>
    <div class="post-img">
      <img src="https://via.placeholder.com/800x400" alt="Post Image">
    </div>
    <div class="post-tags">
      <span class="like-tag"><i class="fas fa-thumbs-up"></i> Like</span>
      <span class="comment-tag"><i class="fas fa-comment"></i> Comment</span>
    </div>
  </div>
</div>


 -->
 <!-- <div class="card-post">
  <div class="profile-info">
    <div class="profile-img">
      <img src="https://placehold.it/50x50" alt="Profile image">
    </div>
    <div class="profile-name-date">
      <p class="profile-name">John Doe</p>
      <p class="profile-date">March 14, 2023</p>
    </div>
  </div>
  <div class="post-type">
    <p>Featured</p>
  </div>
  <div class="post-content">
    <h2 class="post-title">Lorem ipsum dolor sit amet</h2>
    <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod, nulla sit amet efficitur bibendum, lorem neque volutpat quam, at semper arcu nibh vel nulla. Suspendisse quis convallis ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla eu lectus varius, tincidunt mauris at, lacinia massa. Aliquam accumsan elit id nibh finibus vehicula. Fusce nec nulla eleifend, fringilla nisi at, vulputate nisl.</p>
    <div class="post-img">
      <img src="https://placehold.it/800x400" alt="Post image">
    </div>
    <div class="post-tags">
      <span class="tag-like">Like</span>
      <span class="tag-comment">Comment</span>
    </div>
  </div>
</div> -->
<div class="card-post" *ngIf="user && category">
  <div class="card-post__header">
    <div class="card-post__header-left">

      <img *ngIf="avatar" routerLink="/profile/{{user.id}}" src="{{avatar.url}}" alt="{{avatar.alt}}" class="card-post__profile-pic" >
      <!-- <img routerLink="/profile/{{userId}}" src="https://via.placeholder.com/50x50" alt="profile picture" class="card-post__profile-pic" > -->

      <div class="card-post__profile-info" >
        <h4 class="card-post__username">
          {{user.username}}
          <span>FOLLOW</span>
        </h4>
        <p *ngIf="date" class="card-post__date">{{date | date:"h:mm, d MMMM y"}}</p>
        <!-- <p class="card-post__date">12:00, 12 March 2023</p> -->
      </div>
    </div>
    <div class="card-post__header-right">
      <!-- <span class="card-post__label">ART & DESIGN</span> -->
      <span class="card-post__label">{{category.name | uppercase}}</span>
    </div>
  </div>
  <div class="card-post__body">
    <h2 class="card-post__title">{{post.title | uppercase}}</h2>
    <p class="card-post__description">{{post.content}}</p>
    <a routerLink="/post/{{post.id}}">
      <div class="card-post__image">
        <img *ngIf="picture"  src="{{picture.url}}" alt="{{picture.alt}}" >
      </div>
    </a>

    <!-- <h2 class="card-post__title">2022–23 UEFA Champions League</h2> -->
    <!-- <p class="card-post__description">The 2022–23 UEFA Champions League is the 68th season of Europe's premier club football tournament organised by UEFA,
      and the 31st season since it was renamed from the European Champion Clubs' Cup to the UEFA Champions League.
      The final will be played at the Atatürk Olympic Stadium in Istanbul,Turkey.
      The stadium was originally appointed to host the 2020 UEFA Champions League final,
      but both this and the 2021 final, which had been subsequently re-allocated to the Atatürk,re moved due to the COVID-19 pandemic.
    </p> -->

    <!-- <img routerLink="/post/{{post.id}}" src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt70daa54765a35b28/635da92537148a6bc9945eaa/20221030_Champions_League_trophy.jpg?auto=webp&format=pjpg&width=1200&quality=60" alt="post image" class="card-post__image"> -->

 </div>
  <div class="card-post__footer">

      <button class="card-post__tag-btn like">
        <fa-icon class="icon-size" [icon]="falike"></fa-icon>
        <!-- 300 -->
        {{likesCounter}}
      </button>
      <button class="card-post__tag-btn comment">
        <fa-icon class="icon-size" [icon]="facomment"></fa-icon>
        <!-- 222 -->
        {{commentsCounter}}
      </button>

  </div>
</div>







