/* the post section------------------------
----------------------------------------
------------------------------------------ */

.card-post {
  background-color: #FFFFFF;
  box-shadow: 0rem 2.611 2.089rem rgba(0, 0, 0, 0.0503198),0rem 1.396rem 1.117rem rgba(0, 0, 0, 0.0417275),0rem 0.783rem 0.626rem rgba(0, 0, 0, 0.035),0rem 0.416rem 0.333rem rgba(0, 0, 0, 0.0282725),0rem 0.173rem 0.138rem rgba(0, 0, 0, 0.0196802);
  border-radius: .625rem;
  overflow: hidden;
  padding:0.5rem;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 0.25rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 86%);
  }
  100% {
    background-color: hsl(0, 0%, 95%);
  }
}

.card-post__header {
  display: flex;
  column-gap: 1.3rem;
  row-gap: 0rem;
  justify-content: space-between;
  align-items: center;
  padding:1.25rem 2rem;
  background-color: #FFFFFF;
}

.card-post__header-left {
  display: flex;
  align-items: center;
}

.card-post__header-left .card-post__profile-pic {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  margin-right: 0.625rem;
}

.card-post__header-left .card-post__profile-info {
  display: flex;
  flex-direction: column;
}
.card-post__username h4{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  /* identical to box height */
  color: #000000;
}

.skeleton-username{
  height:1.1rem;
  width:11rem;
  margin-bottom: 0.3rem;
}

.card-post__username span{
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.3125rem;
  /* identical to box height, or 210% */
  margin-left: 0.6rem;
  color: var(--primary-grey);
}
.card-post__date{
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  /* identical to box height */
  color: #000000;
}

.skeleton-date{
  height: 0.8rem;
  width:9rem;
}

.card-post__header-right .card-post__label {
  background-color: var(--green);
  color: white;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3125rem;
  align-self: flex-start;
  font-weight: 700;
  font-size: 0.75rem;
}

.skeleton-label{
  /* padding: 0.3125rem 0.625rem; */
  height:1.4rem;
  width: 5rem;
}

.card-post__body {
  padding: 0.3125rem 1.25rem ;
}

.card-post__title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  text-align: center;
  font-style: normal;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem;
}

.skeleton-title {
  width: 20rem;
  height: 1.25rem;
  margin: 0 auto;
}

.card-post__description {
  margin-top: 1.25rem;
  font-size: 1rem;
  line-height: 1.6;
  /* margin-bottom: -0.0625rem; */
  padding-left: .875rem;
}

.skeleton-description{
  margin-top: 1.25rem;
  /* margin-bottom:0.2rem; */
  height: 4rem;
  padding-left: .875rem;
}

.card-post__image {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}

.skeleton-image{
  margin:2.5rem auto;
  width:60%;
  padding:0;
  height:15rem;
}

.card-post__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card-post__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  padding-bottom: .625rem;
}
.card-post__tag-btn{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: .9375rem;
  /* line-height: 1.125rem; */
  color: #858585;

  margin: 0 .9375rem;
  background: #FFFFFF;
  border: 0.125rem solid var(--primary-grey);
  border-radius: .625rem;
  cursor: pointer;
  transition: .5s all ease;

  padding:0.1rem 1rem;
}

.like:hover{
  color: #000000;
  border-color:#000000 ;
}

.like-active{
  color: #000000;
  border-color:#000000 ;
}

.comment:hover{
  color: #000000;
  border-color:#000000 ;
}

.follow-span{
  text-decoration: underline;
  cursor:pointer;
}

@media (max-width:768px){
   .card-post{
    /* max-width: 74%; */
    margin: 0 .9375rem;
  }

}
@media(max-width:466px) {
  .card-post__header{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .card-post__header-right{
    margin-top: 0.5rem;
    align-items: center;

  }

}
