<!-- *ngIf="!user" -->
<!-- <div class="card-post" *ngIf="!user">
  <div class="card-post__header">
    <div class="card-post__header-left">
      <div class="card-post__profile-pic skeleton"></div>
      <div class="card-post__profile-info">
        <div class="card-post__username skeleton skeleton-username"></div>
        <div class="card-post__date skeleton skeleton-date"></div>
      </div>
    </div>
    <div class="card-post__header-right">
      <div class="card-post__label skeleton skeleton-label"></div>
    </div>
  </div>
  <div class="card-post__body">
    <div class="card-post__title skeleton skeleton-title"></div>
    <div class="card-post__description skeleton skeleton-description"></div>
    <div class="card-post__image skeleton skeleton-image"></div>
 </div>
</div> -->
<!-- *ngIf="user && category" -->
<div class="card-post" >
  <div class="card-post__header">
    <div class="card-post__header-left">

      <img *ngIf="user && avatar" routerLink="/profile/{{user.id}}" src="{{avatar.url}}" alt="{{avatar.alt}}" class="card-post__profile-pic" >
      <div *ngIf="!user || !avatar" class="card-post__profile-pic skeleton"></div>
      <!-- <img routerLink="/profile/{{userId}}" src="https://via.placeholder.com/50x50" alt="profile picture" class="card-post__profile-pic" > -->

      <div class="card-post__profile-info" >

        <h4 *ngIf="user" class="card-post__username">{{user.username}}<span>FOLLOW</span></h4>
        <div *ngIf="!user" class="card-post__username skeleton skeleton-username"></div>

        <p *ngIf="date" class="card-post__date">{{date | date:"HH:mm, d MMMM y"}}</p>
        <div *ngIf="!date" class="card-post__date skeleton skeleton-date"></div>
        <!-- <p class="card-post__date">12:00, 12 March 2023</p> -->
      </div>
    </div>
    <div class="card-post__header-right">
      <!-- <span class="card-post__label">ART & DESIGN</span> -->
      <span *ngIf="category" class="card-post__label">{{category.name | uppercase}}</span>
      <div *ngIf="!category" class="card-post__label skeleton skeleton-label"></div>
    </div>
  </div>
  <div class="card-post__body">
    <h2 *ngIf="post" class="card-post__title">{{post.title | uppercase}}</h2>
    <div *ngIf="!post" class="card-post__title skeleton skeleton-title"></div>
    
    <p *ngIf="post" class="card-post__description">{{post.content}}</p>
    <div *ngIf="!post" class="card-post__description skeleton skeleton-description"></div>
    
    <a *ngIf="post" routerLink="/post/{{post.id}}">
      <div *ngIf="picture" class="card-post__image">
        <img src="{{picture.url}}" alt="{{picture.alt}}" >
      </div>
      <div *ngIf="post.picturesId.length !==0 && !picture" class="card-post__image skeleton skeleton-image"></div>
    </a>

    <!-- <h2 class="card-post__title">2022–23 UEFA Champions League</h2> -->
    <!-- <p class="card-post__description">The 2022–23 UEFA Champions League is the 68th season of Europe's premier club football tournament organised by UEFA,
      and the 31st season since it was renamed from the European Champion Clubs' Cup to the UEFA Champions League.
      The final will be played at the Atatürk Olympic Stadium in Istanbul,Turkey.
      The stadium was originally appointed to host the 2020 UEFA Champions League final,
      but both this and the 2021 final, which had been subsequently re-allocated to the Atatürk,re moved due to the COVID-19 pandemic.
    </p> -->

    <!-- <img routerLink="/post/{{post.id}}" src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt70daa54765a35b28/635da92537148a6bc9945eaa/20221030_Champions_League_trophy.jpg?auto=webp&format=pjpg&width=1200&quality=60" alt="post image" class="card-post__image"> -->

 </div>
  <div *ngIf="post" class="card-post__footer">

      <button *ngIf="likesCounter!==undefined" class="card-post__tag-btn like">
        <fa-icon class="icon-size" [icon]="falike"></fa-icon>
        <!-- 300 -->
        {{likesCounter}}
      </button>
      <button *ngIf="commentsCounter!==undefined" class="card-post__tag-btn comment">
        <fa-icon class="icon-size" [icon]="facomment"></fa-icon>
        <!-- 222 -->
        {{commentsCounter}}
      </button>

  </div>
</div>







