
/* .container {
  width: 100%;
/*   max-width: 1200px;
   margin: 0 auto;
  padding: 0 15px;
} */

@media (min-width: 769px) {

  .flexbox-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    padding: 0 1.25rem;
  }

}
.post-comment{
/*   width: 80%;
 */  display: flex;
  justify-content: center;

}
.comment{
  width: 80%;
}

@media (max-width: 768px) {
  .comment{
    width: 100%;
  }
}



