<!-- <span class="tag" [class.active]="isTagActive" (click)="onTagClick()">all</span>
<span class="tag" [class.active]="isTagActive" (click)="onTagClick()">SPORT</span>
<span class="tag" [class.active]="isTagActive" (click)="onTagClick()">IT</span>
<span class="tag" [class.active]="isTagActive" (click)="onTagClick()">SCIENTIFIC</span>
<span class="tag" [class.active]="isTagActive" (click)="onTagClick()">ART & DESIGN</span>
<span class="tag" [class.active]="isTagActive" (click)="onTagClick()">GAMING</span>
<span class="tag" [class.active]="isTagActive" (click)="onTagClick()">LIFE STYLE</span> -->



  <div class="category ">
    <div class="category_header">
      <h4>CATEGORIES </h4>
    </div>
    <div class="tag_list category_body">
      <span class="tag" [ngClass]="{ 'selected-tag' : selectedTag.id===0}" (click)="selectTag({id:0,name:'all'})">ALL</span>
      <span class="tag" [ngClass]="{ 'selected-tag' : selectedTag.id===tag.id}" (click)="selectTag(tag)" *ngFor="let tag of tags">{{tag.name | uppercase}}</span>
    </div>

  </div>




