<!-- <span class="tag" [class.active]="isTagActive" (click)="onTagClick()">all</span>
<span class="tag" [class.active]="isTagActive" (click)="onTagClick()">SPORT</span>
<span class="tag" [class.active]="isTagActive" (click)="onTagClick()">IT</span>
<span class="tag" [class.active]="isTagActive" (click)="onTagClick()">SCIENTIFIC</span>
<span class="tag" [class.active]="isTagActive" (click)="onTagClick()">ART & DESIGN</span>
<span class="tag" [class.active]="isTagActive" (click)="onTagClick()">GAMING</span>
<span class="tag" [class.active]="isTagActive" (click)="onTagClick()">LIFE STYLE</span> -->



  <div class="card col-md-3 col-sm-3">
    <div class="card_header">
      <h4>CATEGORIES </h4>
    </div>
    <div class="tag_list card_body">
      <span class="tag">ALL</span>
      <span class="tag">SPORT</span>
      <span class="tag">IT</span>
      <span class="tag ">SCIENTIFIC</span>
      <span class="tag active">ART & DESIGN</span>
      <span class="tag">GAMING</span>
      <span class="tag">LIFE STYLE</span>
      <span class="tag">BUSINESS</span>
      <span class="tag">HEALTH & FITNESS</span>
    </div>

  </div>




