

/* card */
.category {
  /* max-width: 50rem; */
  margin: -0.9375rem .625rem;
  background-color: #fff;
  border-radius: .625rem;
  text-align: center;
  padding: 1.25rem;
  height: 700px;
  margin-top: 7.03rem;
/*   width: 254px;
 */
  box-shadow: 0rem 2.6111rem 2.0889rem rgba(0, 0, 0, 0.0503198),
   0rem 1.396rem 1.1168rem rgba(0, 0, 0, 0.0417275),
    0rem .7826rem .6261rem rgba(0, 0, 0, 0.035),
    0rem .4156rem .3325rem rgba(0, 0, 0, 0.0282725),
    0rem .173rem .1384rem rgba(0, 0, 0, 0.0196802);


}
.category_body {
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.tag{
  background: #FFFFFF;
  border: .125rem solid #858585;
  border-radius: .625rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: .875rem;
  line-height: .125rem;
  /* identical to box height, or 150% */
  padding: .8rem .5rem;
  margin-bottom: 1rem;

  color: #858585;

}


/* For responsive design, add the following media queries */


@media (min-width: 769px) {
  .category{
    width: 15rem;
  }

}

@media (max-width: 768px) {


  .category {
    max-width: 100%;
   max-height:9.375rem ;
  }
  .category_body{
    padding: .625rem 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .tag{
    margin-right: .625rem;
  }
}

@media (max-width: 576px) {

  .category {
    max-width: 100%;
   max-height:12.5rem ;
  }
}

@media (max-width: 390px) {
  .category {
    max-width: 100%;
   max-height:15rem ;
  }

}
@media (max-width: 328px) {
  .category {
    max-width: 100%;
   max-height:16.5rem ;
  }

}

