<div class="card-post">
  <div class="card-post__header">
    <div class="card-post__header-left ">

      <div class="icon ">
        <fa-icon class="Back" [icon]="faback"></fa-icon>
     </div>
      <div class=" profile">
        <img src="https://via.placeholder.com/50x50" alt="profile picture" class="card-post__profile-pic">
        <div class="card-post__profile-info">
          <h4 class="card-post__username">HAMDANIMED
            <span>FOLLOW</span></h4>
          <p class="card-post__date">12:00, 12 March 2023</p>
        </div>
      </div>
    </div>
    <div class="card-post__header-right">
      <span class="card-post__label">ART & DESIGN
      </span>
    </div>
  </div>
  <div class="card-post__body">
    <h2 class="card-post__title">2022–23 UEFA Champions League</h2>
    <p class="card-post__description">The 2022–23 UEFA Champions League is the 68th season of Europe's premier club football tournament organised by UEFA,
      and the 31st season since it was renamed from the European Champion Clubs' Cup to the UEFA Champions League.
      The final will be played at the Atatürk Olympic Stadium in Istanbul,Turkey.
      The stadium was originally appointed to host the 2020 UEFA Champions League final,
      but both this and the 2021 final, which had been subsequently re-allocated to the Atatürk,re moved due to the COVID-19 pandemic.
    </p>
    <img src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt70daa54765a35b28/635da92537148a6bc9945eaa/20221030_Champions_League_trophy.jpg?auto=webp&format=pjpg&width=1200&quality=60" alt="post image" class="card-post__image">


 </div>
  <div class="card-post__footer">

      <button class="card-post__tag-btn like">
        <fa-icon class="" [icon]="falike"></fa-icon>
        300</button>
      <button class="card-post__tag-btn comment">
        <fa-icon class="" [icon]="facomment"></fa-icon>222</button>

  </div>
  <div class="generate-comment">
    <h3 class="comment-title">Comment</h3>
    <form class="form-comment">

      <div class="label-comment">
        <img src="https://via.placeholder.com/50x50" alt="profile picture" class="profile-pic-comment">
        <div class="lx">
          <p class="style-comment">yeah, that is an amazing post about UCL,Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam consequuntur odio quae labore, voluptatibus ad tempora inventore temporibus tempore nemo fugit, expedita natus recusandae, minus molestiae iste. Rem, earum nulla.
          </p>
        </div>
      </div>
      <div class="input-comment">
        <img src="https://via.placeholder.com/50x50" alt="profile picture" class="profile-pic-comment">
        <div class="post-form">

            <textarea class="flex-textarea" placeholder="Write a comment..."></textarea>

        </div>
      </div>
    </form>

  </div>
</div>
