<div class="following-container">
    <div class="following-header">
        <span>200</span>
    </div>
    <div class="profiles">
        <div class="following-profile">
            <img class="profile-picture" src="https://picsum.photos/200" alt="profile pic">
            <span class="profile-name">HAMDANIMED</span>
            <button class="profile-follow">UNFOLLOW</button>
        </div>
        <div class="following-profile">
            <img class="profile-picture" src="https://picsum.photos/200" alt="profile pic">
            <span class="profile-name">HAMDANIMED</span>
            <button class="profile-follow">UNFOLLOW</button>
        </div>
        <div class="following-profile">
            <img class="profile-picture" src="https://picsum.photos/200" alt="profile pic">
            <span class="profile-name">HAMDANIMED</span>
            <button class="profile-follow">UNFOLLOW</button>
        </div>
        <div class="following-profile">
            <img class="profile-picture" src="https://picsum.photos/200" alt="profile pic">
            <span class="profile-name">HAMDANIMED</span>
            <button class="profile-follow">UNFOLLOW</button>
        </div>
        <div class="following-profile">
            <img class="profile-picture" src="https://picsum.photos/200" alt="profile pic">
            <span class="profile-name">HAMDANIMED</span>
            <button class="profile-follow">UNFOLLOW</button>
        </div>
        <div class="following-profile">
            <img class="profile-picture" src="https://picsum.photos/200" alt="profile pic">
            <span class="profile-name">HAMDANIMED</span>
            <button class="profile-follow">UNFOLLOW</button>
        </div>
        <div class="following-profile">
            <img class="profile-picture" src="https://picsum.photos/200" alt="profile pic">
            <span class="profile-name">HAMDANIMED</span>
            <button class="profile-follow">UNFOLLOW</button>
        </div>
    </div>
</div>
