<div class="following-container">
    <div class="following-header">
        <span *ngIf="following">{{following.length}}</span>
    </div>
    <div *ngIf="followingList" class="profiles">
        
        <div *ngFor="let user of followingList;let index=index;" class="following-profile">
            <!-- <a href="/profile/{{user.id}}">
                <img *ngIf="followingListAvatars[index]" class="profile-picture" src="{{followingListAvatars[index].url}}" alt="{{followingListAvatars[index].alt}}">
            </a> -->
            <!-- <a href="/profile/{{user.id}}">
                <img  class="profile-picture" src="https://picsum.photos/200" alt="placeholder">
            </a> -->
            <a class="profile-name" href="/profile/{{user.username}}">{{user.username}}</a>
            <button class="profile-follow" *ngIf="loggedInUser.username===userInPage.username" (click)="unfollow(following[index]['id'])">UNFOLLOW</button>
        </div>
        <!-- <div class="following-profile">
            <img class="profile-picture" src="https://picsum.photos/200" alt="profile pic">
            <span class="profile-name">HAMDANIMED</span>
            <button class="profile-follow">UNFOLLOW</button>
        </div> -->
    </div>
</div>
