<div class="profile-data-container">
    <div class="section-selector">
        <a href="#">
            <div class="section selected-section">
                MY POSTS
            </div>
        </a>
        <a href="#">
            <div class="section">
                LIKED POSTS
            </div>
        </a>
        <a href="#">
            <div class="section">
                FOLLOWING
            </div>
        </a>
    </div>
    <div class="section-content">
        <app-my-posts></app-my-posts>
    </div>
</div>