<div class="profile-data-container">
    <div class="section-selector">
        <a routerLink="user-posts" >
            <div class="section " routerLinkActive="selected-section">
                USER POSTS
            </div>
        </a>
        <a routerLink="liked-posts">
            <div class="section" routerLinkActive="selected-section">
                LIKED POSTS
            </div>
        </a>
        <a routerLink="following">
            <div class="section" routerLinkActive="selected-section">
                FOLLOWING
            </div>
        </a>
    </div>
    <div class="section-content">
        <router-outlet ></router-outlet>
        <!-- <app-my-posts *ngIf="selectedSection==='my-posts'"></app-my-posts>
        <app-liked-posts *ngIf="selectedSection==='liked-posts'"></app-liked-posts>
        <app-following *ngIf="selectedSection==='following'"></app-following> -->

    </div>
</div>