
/* .container {
  width: 100%;
/*   max-width: 1200px;
   margin: 0 auto;
  padding: 0 15px;
} */

.container{
  margin-top: 2rem;
  padding:0rem 4rem;
  display: grid;
  grid-template-columns: 0.9fr auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "filter ."
    "main category";
  row-gap: 2rem;
  column-gap: 1rem;
  justify-content: center;
  /* display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  padding: 0 1.25rem; */
}
.feed{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: stretch;
  row-gap: 1.5rem;
  /* padding:0 1rem; */
}
@media (min-width: 769px) {

}

.post-comment{
  display: flex;
  justify-content: center;
}

.comment{
  width: 80%;
}

.no-posts-card {
  background-color: #FFFFFF;
  box-shadow: 0rem 2.611 2.089rem rgba(0, 0, 0, 0.0503198),0rem 1.396rem 1.117rem rgba(0, 0, 0, 0.0417275),0rem 0.783rem 0.626rem rgba(0, 0, 0, 0.035),0rem 0.416rem 0.333rem rgba(0, 0, 0, 0.0282725),0rem 0.173rem 0.138rem rgba(0, 0, 0, 0.0196802);
  border-radius: .625rem;
  overflow: hidden;
  padding:calc( 0.7rem + 0.315rem ) 1.25rem;
  text-align: center;
}

.no-posts-card > p {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--primary-grey);
}

  
@media (max-width: 768px) {
  .comment{
    width: 100%;
  }
  .container{
    padding: 0 calc(1vw + 0.3rem);
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "category"
      "filter"
      "main";

  }
}
  
  
  
  